{% extends 'base/base.html' %}

{% block contenido %}
    <main class="d-flex justify-content-center">
        <div class="card" style="width: 30rem;">
            <div class="card-body">
              <h5 class="card-title" style="text-align: center;">Actualizar Eventos</h5>
                <form action="" method="POST" enctype="multipart/form-data"> {% csrf_token %}
                    
                    {% include 'includes/error_forms.html' %}
                    <!---->
                    {% include 'includes/forms.html' %}
                    <br>
                    <button type="submit" class="btn btn-outline-warning btn-sm">Actualizar</button>
                    <a href="{% url 'eventos:listar' %}">
                        <button type="button" class="btn btn-outline-success btn-sm float-end">Cancelar</button>
                    </a>
                </form>
            </div>
          </div>
    </main>
{% endblock contenido %}
    