{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    
    {% if user.is_authenticated %}
        <div class="alert alert-primary" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}. Bienvenido a tus eventos.</h1>
        </div>
    {% endif %}
</div>
    <div class="container">
        {% if not mis_eventos %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">
            Por el momento no participas en ningún evento.
            </div>
    
        {% else %}
            {% for evento in eventos  %}
            <main style="display: flex; align-items: center; justify-content: center;">
                <div class="album py-5 bg-body-tertiary">
                <div class="container">
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                          <div class="col-md-4">
                            {% if evento.obtener_info.imagen %}
                                <img src="{{evento.obtener_info.imagen.url}}" class="img-fluid rounded-start" alt="...">
                            {% else %}
                                <img src="{% static 'img/defaults/default_image.jpg' %}" class="img-fluid rounded-start" alt="...">
                            {% endif %}
                          </div>
                          <div class="col-md-8">
                            <div class="card-body">
                              <h5 class="card-title">{{evento.obtener_info.nombre}}</h5>
                              <p class="card-text">{{evento.obtener_info.descripcion}}</p>

                              <form action="{% url 'eventos:dejar_de_participar' %}" method="POST"> {% csrf_token %}
                                <div class="btn-group">
                                    <input type="hidden" name="evento_id" value="{{ evento.id }}">
                                    <button type="submit" class="btn btn-sm btn-outline-danger">Dejar de Participar</button>
                                </div>
                            </form>
                        
                            </div>
                          </div>
                        </div>
                      </div>
                </div>
                </div>
            
            </main>
            {% endfor %}
        {% endif %}
        
    
        

{% endblock contenido %}
    