{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    {% if user.is_staff %}
        <div class="alert alert-success" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}</h1>
            <a href="{% url 'eventos:crear' %}">
                <button type="button" class="btn btn-sm btn-outline-success ">Crear Evento</button>
            </a>
        </div> 
    {% elif user.is_authenticated %}
        <div class="alert alert-secondary" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}</h1>
        </div>
    {% endif %}
</div>

<div class="container">
    <div class="form-container">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Filtrar</button>
        </form>
    </div>
</div>

{% if is_paginated %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endif %}
    <div class="container">
        {% if not eventos %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">
            Por el momento no hay eventos
            </div>
    
        {% else %}
            {% for e in eventos  %}
                <main style="display: flex; align-items: center; justify-content: center;">
                    <div class="album py-5 bg-body-tertiary">
                    <div class="container">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                              <div class="col-md-4">
                                {% if e.imagen %}
                                    <img src="{{e.imagen.url}}" class="img-fluid rounded-start" alt="...">
                                {% else %}
                                    <img src="{% static 'img/defaults/default_image.jpg' %}" class="img-fluid rounded-start" alt="...">
                                {% endif %}
                              </div>
                              <div class="col-md-8">
                                <div class="card-body">
                                  <h5 class="card-title">{{e.nombre}}</h5>
                                  <p class="card-text">{{e.descripcion_corta}}</p>
                                  <p class="card-text">Modalidad: {{ e.get_modalidad_display }}</p>

                                  <form action="{% url 'eventos:participar' %}" method="POST"> {% csrf_token %}
                                    <div class="float-end">
                                        <input type="hidden" name="evento_id" value="{{ e.id }}">
                                        <button type="submit" class="btn btn-sm btn-outline-success">Participar</button>
                                        <a href="{% url 'eventos:ver_mas' e.id %}">
                                            <button type="button" class="btn btn-sm btn-outline-dark">Ver más</button>
                                        </a>
                                    </div>
                                    </form>
                            {% if user.is_staff %}
                                <a href="{% url 'eventos:actualizar' e.id %}">
                                    <button type="button" class="btn btn-sm btn-outline-warning">Editar</button>
                                </a>
                                <a href="{% url 'eventos:eliminar' e.id %}">
                                    <button type="button" class="btn btn-sm btn-outline-danger">Eliminar</button> 
                                </a>
                            {% endif %}
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                    </div>
                
                </main>
            {% endfor %}


                
            {% if is_paginated %}
            <div class="mt-2">
                <ul class="pagination justify-content-center">
                    
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{page_obj.previous_page_number}}" class="page-link">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Anterior</a>
                        </li>
                    {% endif %}
                        
                    
                    {% for i in paginator.page_range %}
                            <li class="page-item {% if page_obj.number == i %} active {% endif %}">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                    {% endfor %}
                        
                    
                    
                        
                    
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{page_obj.next_page_number}}" class="page-link">Siguiente</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Siguiente</a>
                        </li>
                    {% endif %}
                        
                </ul>
            </div>
                <br><br>
            {% endif %}
                
        {% endif %}
        
    
        

{% endblock contenido %}
    