{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    {% if user.is_staff %}
        <div class="alert alert-success" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}</h1>
            <a href="{% url 'eventos:crear' %}">
                <button type="button" class="btn btn-sm btn-outline-success ">Crear Evento</button>
            </a>
        </div> 
    {% elif user.is_authenticated %}
        <div class="alert alert-secondary" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}</h1>
        </div>
    {% endif %}
</div>

<div class="container">
    <div class="form-container">
        <form method="get">
            {{ filter.form.as_p }}
            <button type="submit">Filtrar</button>
        </form>
    </div>
</div>

    <div class="container">
        {% if not eventos %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">
            Por el momento no hay eventos
            </div>
    
        {% else %}
            <main>
                <h1 class="visually-hidden">Features examples</h1>
                <div class="b-example-divider"></div>
                <div class="container px-4 py-5" id="custom-cards">
                <div class="row row-cols-lg-3 align-items-stretch g-4 py-5">
                {% for e in eventos  %}
                    <div class="col">
                        {% if e.imagen %}
                            <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('{{e.imagen.url}}');">
                        {% endif %}
                        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                          <h3 class="pt-5 mt-5 mb-4 display-2 lh-1 fw-bold" style="color: #F6F4EB;">{{e.nombre}}</h3>
                          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color: #F4F2DE;">{{e.descripcion_corta}}</h3>
                          <ul class="d-flex list-unstyled mt-auto">
                            
                            <li class="d-flex align-items-center me-3">
                              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                              <small>{{ e.get_modalidad_display }}</small>
                            </li>
                            <li class="d-flex align-items-center">
                              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                              <small>{{e.fecha_evento}}</small>
                            </li>
                          </ul>
                          <!---->
                            <form action="{% url 'eventos:participar' %}" method="POST"> {% csrf_token %}
                                <div class="float-end">
                                    <input type="hidden" name="evento_id" value="{{ e.id }}">
                                    <button type="submit" class="btn btn-sm btn-success">Participar</button>
                                    <a href="{% url 'eventos:ver_mas' e.id %}">
                                        <button type="button" class="btn btn-sm btn-dark">Ver más</button>
                                    </a>
                                </div>
                            </form>
                            {% if user.is_staff %}
                                <a href="{% url 'eventos:actualizar' e.id %}">
                                    <button type="button" class="btn btn-sm btn-warning">Editar</button>
                                </a>
                                <a href="{% url 'eventos:eliminar' e.id %}">
                                    <button type="button" class="btn btn-sm btn-danger">Eliminar</button> 
                                </a>
                            {% endif %}
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                  </div>
                </div>
            </main>


                
            {% if is_paginated %}
            <div class="mt-2">
                <ul class="pagination justify-content-center">
                    
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a href="?page={{page_obj.previous_page_number}}" class="page-link">Anterior</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Anterior</a>
                        </li>
                    {% endif %}
                        
                    
                    {% for i in paginator.page_range %}
                            <li class="page-item {% if page_obj.number == i %} active {% endif %}">
                                <a href="?page={{i}}" class="page-link">{{i}}</a>
                            </li>
                    {% endfor %}
                        
                    
                    
                        
                    
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a href="?page={{page_obj.next_page_number}}" class="page-link">Siguiente</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a href="#" class="page-link">Siguiente</a>
                        </li>
                    {% endif %}
                        
                </ul>
            </div>
                <br><br>
            {% endif %}
                
        {% endif %}
        
    
        

{% endblock contenido %}
    