{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    <div class="alert alert-secondary" role="alert" style="text-align: center;">
        <h1>Más información del evento.</h1>
    </div>
</div>
    <div class="container">
            {% for evento in eventos  %}
                <main style="display: flex; align-items: center; justify-content: center;">
                  <div class="card" style="width: 18rem;">
                    {% if evento.imagen %}
                      <img src="{{evento.imagen.url}}" class="img-fluid rounded-start" alt="...">
                  {% else %}
                      <img src="{% static 'img/defaults/default_image.jpg' %}" class="img-fluid rounded-start" alt="...">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{evento.nombre}}</h5>
                      <p class="card-text">{{evento.descripcion_completa}}</p>
                      <form action="{% url 'eventos:participar' %}" method="POST"> {% csrf_token %}
                        <div class="float-end">
                            <input type="hidden" name="evento_id" value="{{ evento.id }}">
                            <button type="submit" class="btn btn-sm btn-outline-success">Participar</button>
                        </div>
                        </form>
                    </div>
                  </div>
                
                </main>
            {% endfor %}
{% endblock contenido %}
    