{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    {% if user.is_staff %}
        <div class="alert alert-success" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}</h1>
            <a href="{% url 'recursos:crear_recurso' %}">
                <button type="button" class="btn btn-sm btn-outline-success ">Crear Recurso</button>
            </a>
        </div> 
    {% elif user.is_authenticated %}
        <div class="alert alert-warning" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}. Bienvenido a los recursos.</h1>
        </div>
    {% endif %}
</div>
    <div class="container">
        {% if not recursos %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">
            Por el momento no hay recursos
            </div>
    
        {% else %}
            {% for r in recursos  %}
                <main style="display: flex; align-items: center; justify-content: center;">
                    <div class="card">
                        <h5 class="card-header">{{r.titulo}}</h5>
                        <div class="card-body">
                          <p class="card-text">{{r.descripcion}}</p>
                          <a href="{{ r.recurso.url }}" class="btn btn-outline-success" download>Descargar</a>
                        </div>
                      </div>
                </main>
            {% endfor %}
        {% endif %}
        
    
        

{% endblock contenido %}
    