{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}

<div class="container">
    
    {% if user.is_authenticated %}
        <div class="alert alert-warning" role="alert" style="text-align: center;">
            <h1>Hola, {{user}}. Bienvenido a los recursos.</h1>
        </div>
    {% endif %}
</div>
    <div class="container">
        {% if not recursos %}
            <div class="alert alert-warning" role="alert" style="text-align: center;">
            Por el momento no hay recursos
            </div>
    
        {% else %}
            {% for recurso in recursos  %}
                <main style="display: flex; align-items: center; justify-content: center;">
                    <div class="card">
                        <h5 class="card-header">{{recurso.titulo}}</h5>
                        <div class="card-body">
                          <p class="card-text">{{recurso.descripcion}}</p>
                          <a href="#" class="btn btn-outline-success">Descargar</a>
                        </div>
                      </div>
                </main>
            {% endfor %}
        {% endif %}
        
    
        

{% endblock contenido %}
    