{% extends 'base/base.html' %}

{% block contenido %}

{% include 'includes/error_forms.html' %}
<main>

  <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">Iniciar Sesión</h1>
        <p class="col-lg-10 fs-4">Disfruta de la participación en emocionantes eventos y comparte tus comentarios.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary" method="POST"> {% csrf_token %}
          <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="Nombre de usuario" name="username">
            <label for="floatingInput">Nombre de usuario</label>
          </div>
          <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
            <label for="floatingPassword">Contraseña</label>
          </div>
          <div class="checkbox mb-3">
            <a href="{% url 'usuarios:registro' %}">Registrarse</a>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
          <hr class="my-4">
          <small class="text-body-secondary">Al hacer clic en Registrarse, aceptas los términos de uso.</small>
        </form>
      </div>
    </div>
  </div>

  <div class="b-example-divider mb-0"></div>
</main>
  
  
{% endblock contenido %}