{% extends 'base/base.html' %}
{% load static %}
{% block contenido %}
<main class="d-flex justify-content-center">
    
    {% for p in perfil %}
        <div class="container">
            <div class="row">
                <div class="col-12 my-3 pt-3 shadow">
                    
                    {% if p.foto_perfil %}
                        <img src="{{p.foto_perfil.url}}" class="float-left rounded-circle mr-2">
                    {% else %}
                        <img src="{% static 'img/defaults/defaul_person.png' %}" class="float-left rounded-circle mr-2">
                    {% endif %}
                        
                    <h1>{{p.username}}</h1>
                    <h1>{{p.first_name}}</h1>
                    <h1>{{p.last_name}}</h1>
                    <h1>{{p.email}}</h1>
                </div>
                
                {% if user.is_authenticated %}
                    <a href="{% url 'usuarios:editar_perfil' p.id %}">
                        <button type="button" class="btn btn-outline-warning">Editar</button>
                    </a>
                    <a href="{% url 'usuarios:eliminar_perfil' p.id %}">
                        <button type="button" class="btn btn-outline-danger">Eliminar</button>
                    </a>
                {% endif %}
                    
            </div>
        </div>
    
    {% endfor %}
    
  </main>
  
{% endblock contenido %}
    